<% if @as_admin %>
	<table>
		<tr>
			<td><%= link_to "Movie Tasks", new_movie_path %></td>
	  	<td><%= link_to "Showtime Tasks", new_showtime_path %></td>
	  	<td><%= link_to "Auditorium Tasks", auditoria_path %></td>
		</tr>
	</table>
<% end %>

<h1>Currently Playing:</h1>

<div>
	<% @movies.each do |movie| %>
		<% if movie.showtimes.any? %>
			<ul>
				<h2><a href="movies/<%= movie.id %>"><%= movie.title %></a></h2>
				<% if @as_admin %>
					<div><%= link_to "Edit", edit_movie_path(movie) %> <%= link_to "Delete", movie_path(movie), :method => :delete %></div>
				<% end %>
				<p>Run Time: <%= movie.run_time %></p>
				<% movie.unique_showdates.each do |showdate| %>
					<li>
						<h3><%= pretty_date(showdate.date) %>
							<% if @as_admin %>
								<%= link_to "Edit", edit_showtime_path(showdate) %> <%= link_to "Delete", showtime_path(showdate), :method => :delete %>
							<% end %>
						</h3>
					</li>
				<% end %>
			</ul>
		<% end %>
	<% end %>
</div>