<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Popcorn Cinema</h2>
    <p>
      Thank you for your $<%= @sale.movie.cost %> purchase, <%= @sale.customer.name %>!
    </p>
    <p>
      You are seeing <%= @sale.movie.title %>, directed by <%= @sale.movie.director %>, in the <%= @sale.auditorium.name %> auditorium at <%= @sale.showtime.time.strftime("%l:%M %p") %> on <%= @sale.showtime.date.strftime("%a, %b %e") %>.
    </p>
    <p>
      Your confirmation number is <%= @sale.confirmation_no %>.  Please print this email and bring it with you to the theater for admittance.
    </p>
    <p>Enjoy your show!</p>
  </body>
</html>