<h1>Showtimes:</h1>

<div>
	<% @movies.each do |movie| %>
		<% if movie.showtimes.any? %>
			<ul>
				<h2><a href="movies/<%= movie.id %>"><%= movie.title %></a></h2>
				<p>Run Time: <%= movie.run_time %></p>
				<% movie.unique_showdates.each do |showdate| %>
					<li>
						<h3><%= pretty_date(showdate.date) %> <%= link_to "Edit", edit_showtime_path(showdate) %> <%= link_to "Delete", showtime_path(showdate), :method => :delete %></h3>
					</li>
				<% end %>
			</ul>
		<% end %>
	<% end %>
</div>