<%= render "/errors" %>

<div>You are purchasing a ticket for the <%= pretty_date(@showtime.date) %>, <%= pretty_time(@showtime.time) %> showing of <%= @showtime.movie.title %>.</div>
<div>The charge will be $<%= @showtime.movie.cost %>.  Please provide your information below:</div>

<%= form_for :customer, url: :showtime_sales do |f| %>
	Name: <br><%= f.text_field :name %><br>
	Email: <br><%= f.text_field :email %><br>
	Confirm Email: <br><%= f.text_field :email_confirmation %><br>
	Credit Card (16 digits): <br><%= f.text_field :cc_number %><br>
	Expiration Date: (MM / YYYY)<br><%= f.text_field :cc_expiration_month %> / <%= f.text_field :cc_expiration_year %><br>
	<%= f.submit 'Purchase' %>
<% end %>